@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-background text-white;
}

.animate-spin-slow {
  animation: spin-slow 20s linear infinite;
}

.animate-reverse-spin {
  animation: reverse-spin 15s linear infinite;
}
* {
  margin: 0;
  padding: 0;
}


.dd {

  border-radius: 12px;
  /* Rounded corners */
  background-image: url('https://grainy-gradients.vercel.app/noise.svg');
  background-blend-mode: overlay;
  /* Blends the noise over the gradient */
  overflow: hidden;
  /* Ensures content stays inside the box boundaries */
  contrast: 110%;
  /* Optional: Boosts contrast for a richer effect */


}
